body.renewal {
    min-width: 1020px;
}
body {
    -webkit-text-size-adjust: none;
    font-family: BlinkMacSystemFont,sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: #666;
    background: #f5f5f5 url(https://img1a.coupangcdn.com/image/www/header/v1/bg_body.gif);
    margin: 0;
}
#skip-navigation {
    position: absolute;
    left: -500px;
    top: -500px;
    overflow: hidden;
    z-index: 10;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body, div, dl, dt, dd, ul, ol, menu, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    background: transparent;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
hr {
    box-sizing: content-box;
    height: 0;
}
hr {
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
#browserSupportWrap {
    background: #fff;
    height: 70px;
    text-align: center;
}
.bs-wrap {
    width: 930px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: left;
}
.bs-message {
    float: left;
    font-size: 12px;
    color: #333;
    margin-top: 8px;
    letter-spacing: -1px;
    line-height: 18px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
dl, dt, dd, ul, ol, menu, li {
    list-style: none;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.bs-browser-download li {
    float: left;
    margin-left: 44px;
    height: 50px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.bs-browser-download li.ie a {
    background-position: 0 0;
}
.bs-browser-download a {
    display: inline-block;
    height: 40px;
    padding: 10px 0 0 66px;
    font-size: 12px;
    color: #333;
    text-decoration: none;
    background: url(//img1a.coupangcdn.com/image/coupang/common/browser_icon.png) no-repeat;
    letter-spacing: -1px;
    line-height: 18px;
}
a * {
    cursor: pointer;
}
.bs-browser-download li.chrome a {
    background-position: 0 -100px;
}
.bs-browser-download li em {
    color: #4285f4;
}
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}
#container {
    position: relative;
    min-width: 980px;
    overflow: hidden;
}
.renewal-header {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.gnb-api {
    margin-bottom: 20px;
}
.renewal-header #header {
    position: relative;
    width: 980px;
    height: 115px;
    margin: 0 auto;
    padding-top: 32px;
    background: #fff;
}
#header {
    z-index: 3;
}
.renewal-header #header section {
    position: absolute;
    width: 840px;
    height: 91px;
    margin: 25px 0 0 140px;
}
.renewal-header #header section div.clearFix {
    position: relative;
    z-index: 3;
}
.clearFix {
    display: block;
}
.renewal-header #header section h1 {
    width: 174px;
    height: 41px;
    margin: 2px 20px 0 0;
    float: left;
}
.renewal-header #header section h1 a {
    display: block;
    height: 41px;
}
img {
    border: 0;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
}
fieldset, img {
    padding: 0;
}
img {
    width: 174px;
    aspect-ratio: auto 174 / 41;
    height: 41px;
}
.renewal-header #header section div.clearFix {
    position: relative;
    z-index: 3;
}
.renewal-header #header .product-search {
    float: left;
    margin-left: 0;
    width: 484px;
    height: 37px;
    margin-right: 22px;
    border: 2px solid #4285f4;
    background-position: 0 -207px;
}
form {
    margin: 0;
    display: block;
}
.renewal-header #header fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
legend {
    border: 0;
    padding: 0;
}
caption, legend, .skip, hr {
    display: none;
}
legend {
    padding-inline-start: 2px;
    padding-inline-end: 2px;
}
#header .product-search .header-searchForm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.renewal-header .select--category {
    border: 0;
    width: 134px;
    border-right: 1px solid #ddd;
}
.select--category {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    font-size: 12px;
    font-weight: normal;
    height: 37px;
}
.select--category--button {
    background: url(https://img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png) 6px -165px no-repeat;
    display: block;
    height: 30px;
    outline: 0;
    position: absolute;
    right: 0;
    top: 3px;
    width: 30px;
}
.select--category__current:link {
    color: #555;
    outline: 0;
    text-decoration: none;
}
.select--category__current {
    display: block;
    height: 38px;
    left: 0;
    line-height: 38px;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 110px;
}
element.style {
    display: none;
}
#searchCategories {
    visibility: hidden;
    width: 0;
    height: 0;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
select {
    writing-mode: horizontal-tb !important;   
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: field;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
#searchCategories {
    visibility: hidden;
}
.renewal-header .select--category {
    border: 0;
    width: 134px;
    border-right: 1px solid #ddd;
}
.select--category {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    font-size: 12px;
    font-weight: normal;
    height: 37px;
}
.select--category--button {
    background: url(https://img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png) 6px -165px no-repeat;
    display: block;
    height: 30px;
    outline: 0;
    position: absolute;
    right: 0;
    top: 3px;
    width: 30px;
}
.select--category__current:link {
    color: #555;
    outline: 0;
    text-decoration: none;
}
.select--category__current {
    display: block;
    height: 38px;
    left: 0;
    line-height: 38px;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 110px;
}
.renewal-header .select--category--option {
    width: 125px;
    padding: 10px 0 10px 10px;
    border: 1px solid #ddd;
    left: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.select--category--option {
    background-color: #fff;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 30px;
    z-index: 1;
    overflow-y: auto;
    margin-top: -1px;
}
.renewal-header .select--category--option li {
    padding: 0;
}
.select--category--option li {
    font-size: 12px;
}
.select--category--option a:link {
    color: #000;
    text-decoration: none;
}
.select--category--option a {
    display: block;
    outline: 0;
    padding: 7px 0 7px 3px;
    letter-spacing: -1px;
}
input {
    vertical-align: middle;
    line-height: normal;
}
.renewal-header #header .product-search .coupang-search:not(*:root) {
    line-height: normal;
}
.renewal-header #header .product-search .coupang-search.is-speech {
    width: 276px;
    padding-right: 23px;
}
.renewal-header #header .product-search .coupang-search {
    left: 135px;
    color: #333;
    position: absolute;
    top: 0;
    height: 37px;
    margin: 0;
    border: 0;
    background: #fff;
    text-indent: 10px;
    font-size: 14px;
    outline: 0;
}


.speech-content-mic {
    z-index: 30;
    overflow: hidden;
    position: absolute;
    top: 5px;
    right: 48px;
    width: 26px;
    height: 26px;
    background: url(https://img1a.coupangcdn.com/image/coupang/common/ic_mic.png) 3px 1px no-repeat;
    background-size: 20px 48px;
    text-indent: -99px;
}
.renewal-header #header .product-search a.search {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 50px;
    height: 39px;
    background-position: -112px -71px;
    text-indent: -9em;
}
.renewal-header #header .product-search a.search, .renewal-header .my-coupang-icon, .renewal-header .cart-icon, .renewal-header .category-btn, .renewal-header .select-icon, .renewal-header .depth-select-icon, .renewal-header .speech-icon, .renewal-header .blue-arrow, .renewal-header .subscription-menu-warning-icon, .renewal-header .gnb-menu li.rocket-delivery, .renewal-header .vendor-join .ic {
    background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
    background-repeat: no-repeat;
}
.renewal-header #headerPopupWords {
    position: absolute;
    width: 350px;
    height: auto;
    top: 37px;
    left: 134px;
    border: 1px solid #ddd;
    z-index: 1;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.popularity-words {
    overflow: hidden;
    display: none;
    right: 1px;
    background: #fff;
}
.renewal-header .history-btns {
    position: absolute;
    height: 30px;
    top: 335px;
    left: 134px;
    right: -2px;
    display: none;
    border: 1px solid #ddd;
    z-index: 1;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.history-btns {
    bottom: 0;
    padding: 0 12px;
    background-color: #f5f5f5;
}
.renewal-header .history-btns span.del-button {
    float: left;
}
.renewal-header .history-btns span {
    color: #888;
    line-height: 30px;
}
.history-btns span {
    font-size: 12px;
    cursor: pointer;
}
.renewal-header .history-btns span.history-onoff {
    float: right;
}
.clearFix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.renewal-header .icon-menus {
    margin-top: 3px;
    display: block;
    font-size: 12px;
}
.renewal-header .icon-menus .my-coupang {
    position: relative;
    margin-right: 20px;
    width: 50px;
    height: 52px;
}
.renewal-header .icon-menus li {
    float: left;
}
.renewal-header .my-coupang-icon {
    width: 29px;
    height: 31px;
    display: block;
    margin: 0 auto;
    background-position: -112px -42px;
}
.renewal-header #header .product-search a.search, .renewal-header .my-coupang-icon, .renewal-header .cart-icon, .renewal-header .category-btn, .renewal-header .select-icon, .renewal-header .depth-select-icon, .renewal-header .speech-icon, .renewal-header .blue-arrow, .renewal-header .subscription-menu-warning-icon, .renewal-header .gnb-menu li.rocket-delivery, .renewal-header .vendor-join .ic {
    background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
    background-repeat: no-repeat;
}
.renewal-header .my-coupang-title {
    width: 50px;
    display: block;
    padding-top: 7px;
    text-align: center;
    color: #333;
    white-space: nowrap;
}
.renewal-header .my-coupang-menu {
    position: absolute;
    top: 52px;
    left: -18px;
    display: none;
    z-index: 3;
}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.renewal-header .my-coupang-menu .wrapper {
    position: relative;
    display: block;
    width: 50px;
    padding: 8px 20px 20px;
    margin-top: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.renewal-header .my-coupang-menu .speech-icon {
    position: absolute;
    top: -6px;
    left: 39px;
}
.renewal-header .speech-icon {
    width: 12px;
    height: 9px;
    display: block;
    background-position: -143px -42px;
}
.renewal-header .my-coupang-menu a {
    display: block;
    padding-top: 12px;
    color: #333;
    font-size: 12px;
    white-space: nowrap;
}
.renewal-header .my-coupang-menu .subscription-menu-a {
    display: none;
}
.renewal-header .icon-menus .cart {
    width: 50px;
    height: 60px;
    margin-top: -4px;
    display: inline-block;
}
.renewal-header .icon-menus li {
    float: left;
}
.renewal-header .icon-menus .cart>a {
    width: 50px;
    height: 60px;
    margin-top: -4px;
    display: inline-block;
}
.renewal-header .mycart-preview-module {
    position: relative;
}
.renewal-header .cart-icon {
    width: 40px;
    height: 41px;
    display: block;
    margin: 0 auto;
    background-position: -112px 0;
}
.renewal-header .cart-title {
    width: 50px;
    display: block;
    text-align: center;
    padding-top: 3px;
    color: #333;
    white-space: nowrap;
}
.renewal-header #headerCartCount {
    position: absolute;
    width: 17px;
    height: 19px;
    top: 8px;
    right: 10px;
    margin: -5px 0 0 4px;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    font: bold 10px Tahoma;
}
.clearFix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.renewal-header #mycart-preview {
    position: absolute;
    display: none;
    width: 300px;
    top: 58px;
    right: 0;
    border: 0;
    background: 0;
    z-index: 3;
}
.renewal-header #mycart-preview .wrapper {
    position: relative;
    width: 300px;
    margin-top: 10px;
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.renewal-header #mycart-preview .speech-icon {
    position: absolute;
    top: -6px;
    right: 40px;
}
.renewal-header .speech-icon {
    width: 12px;
    height: 9px;
    display: block;
    background-position: -143px -42px;
}
.renewal-header #mycart-preview .mycart-preview-products {
    position: relative;
    padding: 0 16px;
    overflow: hidden;
}
ul ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.renewal-header #mycart-preview .mycart-preview-products .empty-cart {
    width: 260px;
    height: 70px;
    padding: 20px 0;
    line-height: 70px;
    font-size: 12px;
}
.renewal-header .icon-menus li {
    float: left;
}
.renewal-header .gnb-menu {
    position: relative;
    width: auto;
    min-width: 1040px;
    left: 0;
    z-index: 0;
}
.renewal-header .gnb-menu li.rocket-delivery {
    padding-left: 10px;
    background-position: 0 -118px;
}
.renewal-header .gnb-menu li {
    background: 0;
    position: relative;
    float: left;
    text-align: center;
    height: 32px;
}
.renewal-header .gnb-menu li a {
    padding: 7px 14px 0;
    font-weight: normal;
    display: block;
    height: 25px;
    margin-left: 1px;
    font-size: 12px;
    color: #333;
}
.renewal-header .gnb-menu li.rocket-fresh a {
    padding-left: 21px;
}
.renewal-header .gnb-menu li.rocket-fresh a::before {
    content: url(https://static.coupangcdn.com/image/coupang/common/pc_header_rocket_fresh_1x.png);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
}
.renewal-header #header .ic-new {
    display: inline-block;
    overflow: hidden;
    width: 12px;
    height: 12px;
    background: url(https://static.coupangcdn.com/image/coupang/common/ico_new.png) no-repeat transparent;
    background-size: 12px;
    text-indent: -9em;
}
.renewal-header .gnb-menu li .ic-new {
    position: absolute;
    right: 0;
    top: 8px;
}
i {
    font-style: italic;
}
.renewal-header .gnb-menu li.business-mall-landing a {
    padding-left: 34px;
}
.renewal-header .gnb-menu li.business-mall-landing a::before {
    content: url(https://static.coupangcdn.com/image/coupang/common/logoBizonlyBrown.png);
    display: inline-block;
    position: absolute;
    left: 14px;
    top: 6px;
}
.renewal-header .gnb-menu li.coupang-global a {
    padding-left: 36px;
}
.renewal-header .gnb-menu li.coupang-global a::before {
    content: url(https://static.coupangcdn.com/image/coupang/home/icons/Overseas.png);
    display: inline-block;
    position: absolute;
    left: 14px;
    top: 3px;
}
.renewal-header .gnb-menu li.sustainable-market a {
    padding-left: 32px;
}
.renewal-header .gnb-menu li.sustainable-market a::before {
    content: '';
    background-image: url(https://static.coupangcdn.com/image/coupang/common/icon_government_promotion.png);
    position: absolute;
    left: 11px;
    top: 4.5px;
    width: 20px;
    height: 17px;
    background-size: cover;
}

.renewal-header .gnb-menu li.travel a {
    padding-left: 32px;
}
.renewal-header .gnb-menu li.travel a::before {
    content: '';
    background-image: url(//static.coupangcdn.com/image/coupang/common/icon_travel.png);
    position: absolute;
    left: 11px;
    top: 3px;
    width: 20px;
    height: 24px;
    background-size: cover;
}
.category-btn {
    position: absolute;
    width: 110px;
    height: 115px;
    top: 32px;
    left: 0;
    margin-right: 30px;
    background-position: 0 0;
    text-align: center;
}

.category-layer {
    position: absolute;
    width: auto;
    height: auto;
    min-height: 450px;
    top: 114px;
    left: 0;
    display: none;
    border: 1px solid #ddd;
    box-shadow: -1px 4px 5px rgba(0,0,0,0.3);
    z-index: 1;
    background: #fff;
    text-align: left;
}
.none {
    display: block;
    text-indent: -9em;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
}
h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.category-layer .shopping-menu-list {
    padding: 8px 0 5px 0;
    border-bottom: #ddd solid 1px;
}
.category-layer li {
    height: 29px;
}
.category-layer .menu>li.fashion-sundries>a {
    background-position: -8px -27px;
}
.category-layer .menu>li>a {
    position: relative;
    width: 114px;
    padding: 9px 0 0 51px;
    white-space: nowrap;
    background: url(https://static.coupangcdn.com/image/coupang/common/pc_gnb_icon_ver10.png) 12px 1px no-repeat;
}
.category-layer a {
    display: inline-block;
    height: 20px;
    color: #333;
    font-size: 12px;
}
.category-layer .select-icon {
    position: absolute;
    width: 5px;
    height: 9px;
    right: 9px;
    top: 11px;
    display: none;
    background-position: -156px -20px;
}
.category-layer .depth {
    height: 100%;
    min-height: 450px;
    background-image: none;
    background-color: #fff;
    margin: -1px 0 0 0;
    padding-right: 0;
    border: 1px solid #ddd;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    left: 163px;
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
}
.category-layer .depth-list ul {
    height: 100%;
    border: 0;
    padding-top: 12px;
    position: absolute;
    z-index: 2;
}
.category-layer .depth-list li {
    width: 157px;
    height: 28px;
    overflow: hidden;
}
.category-layer .depth-list li a {
    font-size: 12px;
    width: 137px;
    height: 28px;
    position: relative;
    letter-spacing: -1px;
    padding: 9px 0 0 20px;
    white-space: nowrap;
}
.category-layer .depth-list .third-depth-list {
    height: 100%;
    left: 157px;
    position: absolute;
    top: 0;
    width: 177px;
    border-left: #ddd solid 1px;
    display: none;
}

.category-layer li {
    height: 29px;
}
.category-layer .menu>li.beauty>a {
    background-position: -8px -111px;
}
.category-layer .menu>li>a {
    position: relative;
    width: 114px;
    padding: 9px 0 0 51px;
    white-space: nowrap;
    background: url(//static.coupangcdn.com/image/coupang/common/pc_gnb_icon_ver10.png) 12px 1px no-repeat;
}
.category-layer .ticket-menu-list {
    padding: 6px 0 5px 0;
    border-bottom: #ddd solid 1px;
}
.category-layer .menu>li.travel-leisure>a {
    background-position: -8px -615px;
}
.category-layer .depth-list .travel-category-nav {
    width: 157px;
    height: 100%;
    border: 0;
    padding-top: 12px;
    position: absolute;
    z-index: 2;
}
.category-layer .depth-list .gnb-banner {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 591px;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -9em;
}
.category-layer .depth-list .gnb-banner>a {
    z-index: 1;
}
.category-layer .depth-list img {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.category-layer .theme-menu-list {
    padding: 6px 0 8px 0;
}
.category-layer .menu>li.theme-store>a {
    background-position: -8px -909px;
}
.category-layer .menu>li>a {
    position: relative;
    width: 114px;
    padding: 9px 0 0 51px;
    white-space: nowrap;
    background: url(//static.coupangcdn.com/image/coupang/common/pc_gnb_icon_ver10.png) 12px 1px no-repeat;
}
.renewal-header .top-bar {
    position: absolute;
    height: 32px;
    top: 0;
    right: 0;
    left: 0;
    background: #f0f0f0;
    z-index: 3;
}
.renewal-header .top-bar>section {
    width: 980px;
    margin: 0 auto;
    font-size: 11px;
}
.renewal-header #headerMenu {
    float: right;
    position: relative;
}
#headerMenu {
    z-index: 10;
}
.renewal-header #headerMenu li {
    height: 26px;
    position: relative;
    padding-top: 10px;
    float: left;
}
.renewal-header .top-bar>section li {
    padding-right: 12px;
}
renewal-header .top-bar>section a {
    color: #333;
}
.renewal-header #login strong {
    font-weight: normal;
}
.renewal-header .cs-center>a {
    position: relative;
    padding-right: 25px;
}
.renewal-header .cs-center>p {
    position: absolute;
    width: 100px;
    right: 0;
    top: 32px;
    display: none;
    font-size: 12px;
    background-color: #fff;
    padding: 8px 20px 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.renewal-header .cs-center>p a {
    display: block;
    padding-top: 12px;
    white-space: nowrap;
}
subscribeHeader {
    float: left;
}
menu {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#subscribeHeader li {
    float: left;
    height: 24px;
    padding: 10px 0 0 12px;
}
#subscribeHeader a {
    cursor: pointer;
}
#subscribeHeader .vendor-join {
    position: relative;
}
#subscribeHeader .vendor-join>a {
    position: relative;
}
#subscribeHeader .vendor-join .ic {
    display: inline-block;
    margin-top: -2px;
    margin-left: 4px;
    padding-left: 10px;
    width: 5px;
    height: 3px;
    background-position: -153px -36px;
    vertical-align: middle;
}
#subscribeHeader .vendor-join>p {
    position: absolute;
    right: -12px;
    top: 32px;
    display: none;
    font-size: 12px;
    background-color: #fff;
    padding: 8px 20px 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
#subscribeHeader .vendor-join>p a {
    display: block;
    padding-top: 12px;
    white-space: nowrap;
}
#contents {
    width: 980px;
    margin: 0 auto;
    z-index: 1;
}
div.member-container {
    min-height: 900px;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.find-account-title {
    margin: 0 0 10px;
    font-size: 30px;
}
.emailonly-title, .find-account-title, .find-account-tab-link {
    font-family: "맑은 고딕",malgun gothic,sans-serif;
    font-weight: bold;
    color: #333;
    letter-spacing: -1px;
}
.find-account-tab {
    border-bottom: 2px solid #0185da;
}
.find-account-tab ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.find-account-tab ul:before {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}
.find-account-tab li:first-child {
    margin-left: 0;
}
find-account-tab li {
    float: left;
    margin-left: -1px;
}
.page-find-id .find-account-tab-link__id {
    position: relative;
    width: 168px;
    margin-bottom: -2px;
    padding-top: 9px;
    padding-bottom: 13px;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: #0185da;
    background-color: #fff;
    color: #000;
}
.find-account-tab-link {
    display: block;
    width: 170px;
    padding-top: 10px;
    padding-bottom: 11px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #d6d6d6;
    background-color: #f8f8f8;
    color: #777;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.find-account-tab ul:after {
    clear: both;
}
.find-account-tab ul:after {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}
.find-id {
    padding: 30px;
}
.find-id-title {
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}
.find-id-type {
    margin-top: 10px;
    margin-bottom: 10px;
}
.find-id-type-radio.active {
    font-weight: bold;
}
.find-id-type-radio:first-child {
    margin-left: 0;
}
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.find-id-type-radio.active {
    font-weight: bold;
}
.find-id-type-radio {
    margin-left: 30px;
}
.find-id-table {
    width: 100%;
    border-top: 2px solid #969696;
    border-collapse: collapse;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.find-id-table th {
    width: 160px;
    background-color: #eef1f8;
    text-align: left;
    white-space: nowrap;
    padding: 14px 30px;
    border-bottom: 1px solid #ddd
}
.find-id-table td {
    border-left: 1px solid #ddd;
    padding: 14px 30px;
    border-bottom: 1px solid #ddd;
}
.find-id-name-tf {
    width: 170px;
    height: 22px;
    padding: 2px 5px;
    line-height: 22px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
span.form-err {
    margin-left: 6px;
}
.find-id-auth-send-msg__fail {
    text-align: center;
}
.form-err {
    display: none;
    padding-left: 1.6em;
    font-style: normal;
    font-size: 12px;
    color: #fb0005;
}
.find-id-phone-tf {
    width: 170px;
    height: 22px;
    padding: 2px 5px;
    line-height: 22px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.find-id-auth-send-btn {
    margin-left: 4px;
}
.find-id-auth-send-btn {
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
    min-width: 40px;
    border-color: #0185da;
    color: #fff;
    background-color: #0e9ae9;
    background-image: linear-gradient(#20b3f8,#0185d8);
}
.find-id-auth-resend-btn {
    margin-left: 4px;
    border-color: #828282;
    color: #fff;
    background-color: #999ca5;
    background-image: linear-gradient(#a8abba,#8c8f98)
}
.find-id-auth-resend-btn {
    min-width: 40px;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
    box-sizing: border-box;
    border: 1px solid #0085da;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.find-id-auth-send-msg__done {
    margin-left: 6px;
    color: #0085da;
}

.find-id-auth-send-msg__fail {
    text-align: center;
}
.find-id-auth-form__not-exist {
    height: 18px;
    font-family: AppleSDGothicNeo;
    font-size: 12px;
    line-height: 1.5;
    color: #e7223d;
    margin-left: 10px;
    display: none;
}
.find-id-auth-form {
    margin-top: 10px;
}
find-id-auth-tf {
    width: 110px;
    border-color: #0085da;
    height: 22px;
    padding: 2px 5px;
    line-height: 22px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.find-id-auth-submit-btn {
    border-color: #0185da;
    color: #fff;
    background-color: #0e9ae9;
    background-image: linear-gradient(#20b3f8,#0185d8);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #0085da;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
span.form-err {
    margin-left: 6px;
}
.find-id-auth-form__success {
    height: 17px;
    font-family: AppleSDGothicNeo;
    font-size: 11px;
    line-height: 1.55;
    color: #555;
    margin-top: 10px;
    display: none;
}
.find-id-auth-send-msg__fail-find {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
}
.find-id-mailmember {
    margin-top: 6px;
    text-align: center;
    font-weight: bold;
    color: #777;
}
.find-id-mailmember-join {
    padding: 5px 10px;
    min-width: 40px;
    border-color: #828282;
    color: #fff;
    background-color: #999ca5;
    background-image: linear-gradient(#a8abba,#8c8f98);
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #0085da;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.find-id-by-auth-table {
    width: 100%;
    border-collapse: collapse;
}
.find-id-by-auth-table td {
    width: 50%;
    text-align: center;
    vertical-align: top;
    padding-top: 48px;
    padding-bottom: 48px;
    border: 1px solid #dcdce4;
    background-color: #fafbfd;
    color: #777;
}
.find-id-by-auth-phone-btn {
    color: #fff;
    background-color: #0c97e7;
    background-image: linear-gradient(#41bef9,#0c97e7,#007ed0);
    box-shadow: inset 0 0 2px #fff;
    padding: 15px 40px 17px;
    border-radius: 4px;
    font-size: 22px;
    line-height: 24px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #0085da;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-family: "맑은 고딕",malgun gothic,sans-serif;
}
.find-id-by-auth-table td p {
    margin: 10px 0;
}
.bizFindIdResult {
    padding: 50px;
    background-color: #fafbfd;
    border: 1px solid #dddde3;
    color: #7a7a7a;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    box-sizing: border-box;
}
.bizFindIdResult * {
    box-sizing: border-box;
}
.bizFindIdResult__btn {
    display: inline-block;
    float: none;
    margin: 32px auto 0;
}
.find-id-result-login-btn {
    border-color: #0085da;
    color: #fff;
    background-color: #0c97e7;
    background-image: linear-gradient(#41bef9,#0c97e7,#007ed0);
    box-shadow: inset 0 0 2px #fff;
    padding: 15px 40px 17px;
    border-radius: 4px;
    font-size: 22px;
    line-height: 24px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
    border: 1px solid #0085da;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-family: "맑은 고딕",malgun gothic,sans-serif;
}
.bizFindIdDormantNoticePc {
    margin: 30px 0 20px;
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.bizFindIdDormantNoticePc em {
    color: red;
    font-weight: 700;
    font-style: normal;
}
.bizFindIdDormantNoticePc b {
    font-weight: 700;
}
.bizFindIdDormantNoticePc small {
    font-size: 12px;
}
.scoped-modal__container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    line-height: 0;
    z-index: 2000000003;
}
.scoped-modal__container>.scoped-modal__blocker {
    opacity: .4;
}
.scoped-modal__blocker {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000000002;
    background-color: #000;
}
.scoped-modal__position-fixer {
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}
scoped-modal__content.scoped-modal__content--response-simple {
    max-width: 420px;
}
.scoped-modal__content {
    padding: 0;
    position: relative;
    z-index: 2000000003;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    margin: 0 auto;
    background-color: #fff;
    font-family: dotum,sans-serif;
}
#side-bar {
    margin-left: 15px;
    position: absolute;
    left: 980px;
    right: 0;
    top: 20px;
    white-space: nowrap;
    z-index: 3;
}
#side-bar .promotion-banner {
    padding-bottom: 10px;
}
#side-bar .promotion-banner li {
    padding: 10px 0 0;
}
#side-bar #my-view {
    width: 102px;
}
#side-bar #my-view .side-cart {
    width: 102px;
    height: 33px;
    background: url(//img1a.coupangcdn.com/image/coupang/common/bg_side_sprite.png) no-repeat -31px 0;
    cursor: pointer;
    overflow: hidden;
}
#side-bar #my-view .side-cart a {
    display: block;
    overflow: hidden;
}
#side-bar #my-view .side-cart strong {
    float: left;
    text-indent: -9999em;
}
#side-bar #my-view .side-cart em {
    float: right;
    height: 33px;
    padding: 0 14px 0 0;
    font: bold 12px 'Arial';
    color: #3abbff;
    line-height: 33px;
}
#side-bar #my-view .recently-viewed-products {
    width: 102px;
    height: 33px;
    background: url(//img1a.coupangcdn.com/image/coupang/common/bg_side_sprite.png) no-repeat -31px -66px;
    overflow: hidden;
}

#side-bar #my-view .recently-viewed-products strong {
    float: left;
    text-indent: -9999em;
}
#side-bar #my-view .recently-viewed-products em {
    float: right;
    height: 33px;
    padding: 0 14px 0 0;
    font: bold 12px/33px Arial;
    color: #3abbff;
}
#side-bar #my-view .recently-viewed-list {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border: 1px solid silver;
    border-top: 0;
}
#side-bar #my-view .recently-viewed-page {
    height: 328px;
}
#side-bar #my-view .no-item {
    height: 158px;
    padding: 110px 0 0 0;
    text-align: center;
    font-size: 11px;
    color: #929292;
    line-height: 160%;
}
#side-bar #my-view .no-item {
    text-align: center;
    font-size: 11px;
    color: #929292;
    line-height: 160%;
}
#side-bar #my-view .recently-viewed-list .recent-viewed-paging {
    height: 16px;
    margin: 0;
    padding: 8px 5px 4px;
    font-size: 11px;
    color: #7b7b7b;
    overflow: hidden;
}
#side-bar #my-view .recently-viewed-list .recent-viewed-paging span.counter {
    float: left;
    padding: 2px 0 0;
}
#side-bar #my-view .recently-viewed-list .recent-viewed-paging strong {
    color: #0085da;
}
#side-bar #my-view .recently-viewed-list .recent-viewed-paging span {
    float: right;
}
#side-bar #my-view .recently-viewed-list .recent-viewed-paging .prev {
    background-position: 0 0;
}
#side-bar #my-view .recently-viewed-list .recent-viewed-paging .move {
    float: left;
    width: 16px;
    height: 16px;
    background: url(//img1a.coupangcdn.com/image/coupang/common/bg_side_sprite.png) no-repeat;
    text-indent: -9999em;
}
#side-bar #my-view .recently-viewed-list .recent-viewed-paging .next {
    width: 15px;
    background-position: -16px 0;
}
#side-bar .side-button {
    padding: 5px 0 0 0;
}
#side-bar .side-button .top {
    height: 33px;
    background-position: -150px 0;
}
#side-bar .side-button a {
    display: block;
    width: 50px;
    text-indent: -9999em;
    background-image: url(//img1a.coupangcdn.com/image/coupang/common/bg_side_sprite.png);
    background-repeat: no-repeat;
}
#side-bar .side-button .up {
    background-position: -150px -33px;
}
#footer {
    position: relative;
}
.footer_new {
    border-top: #ddd solid 2px;
    background: #fff;
}
.footer_new .footer-layer1 {
    border-bottom: #ddd solid 1px;
    height: 34px;
    text-align: center;
    padding-top: 15px;
    white-space: nowrap;
}
.footer_new .footer-layer1 a:first-child {
    border-left: 0;
}
.footer_new .footer-layer1 a {
    display: inline-block;
    white-space: nowrap;
    padding: 0 14px;
    font-size: 12px;
    color: #555;
    height: 12px;
    border-left: #888 solid 1px;
}
.site-picker {
    position: relative;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-top: -9px;
    color: #212b36;
    margin-left: 5px;
}
.site-picker label {
    height: 36px;
    border: 1px solid #c4cdd5;
    display: flex;
    align-items: center;
    width: 180px;
    border-radius: 3px;
    padding: 12px 14px;
    box-sizing: border-box;
    cursor: pointer;
}
.site-picker label p {
    flex: 1;
}
.site-picker label span {
    transition: .3s;
}
.site-picker__arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #333;   
}
.site-picker ul {
    position: absolute;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 5px 0;
    background: #fff;
    box-shadow: 0 1px 7px rgba(0,0,0,0.26);
    top: 36px;
    left: 0;
    width: 180px;
    border-radius: 4px;
    visibility: hidden;
}
.site-picker ul li {
    padding: 10px;
    white-space: nowrap;
}
.footer_new .footer-layer1 a:first-child {
    border-left: 0;
}
.footer_new .footer-layer1 a {
    display: inline-block;
    white-space: nowrap;
}
.site-picker ul a {
    text-decoration: none;
    padding: 0 !important;
    height: auto !important;
    color: #333 !important;
    font-size: 14px !important;
}
.footer_new .footer-layer2 {
    width: 1020px;
    height: 100px;
    margin: 30px auto;
    font-size: 12px;
    color: #555;
    line-height: 150%;
}
.footer_new .footer-layer2 h1 {
    float: left;
    width: 150px;
    background-image: none;
}
.footer_new .footer-layer2 h1 a {
    background-position: -19px -34px;
    width: 117px;
    height: 34px;
    margin-left: 10px;
    display: block;
    overflow: hidden;
    background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v8.png) no-repeat;
    text-indent: -99em;
}
.footer_new .footer-content address {
    float: left;
    width: 260px;
}
address {
    font-style: normal;
    font-weight: normal;
    display: block;
}
.footer_new .footer-layer2 .licensee {
    text-decoration: underline;
}
.footer_new .contact-info {
    float: left;
    width: 340px;
    color: #555;
}
.footer_new .footer-layer2 strong {
    font-weight: bold;
    font-size: 12px;
}
.footer_new .contact-info em {
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    display: block;
    margin: 9px 0 11px 0;
}
.footer_new .contact-fax {
    font-size: 11px;
}
.footer_new .safe-service {
    float: left;
    width: 270px;
    font-size: 11px;
}
.footer_new .footer-layer2 .service-check {
    text-decoration: underline;
}
.footer_new .footer-layer3 {
    width: 1020px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    border-top: #ddd solid 1px;
}
element.style {
    width: 968px;
    height: 80px;
    margin: 0 auto;
    background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v10.png) no-repeat;
    background-position: -44px -92px;
    position: relative;
}
.footer_new .footer-layer4 {
    background: #333;
    height: 80px;
}
.footer_new .coupang-copyright {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}
.footer_new .coupang-copyright .info {
    padding: 21px 0 3px 0;
}
.footer_new .coupang-copyright p {
    color: #888;
    font-size: 11px;
}
.footer_new .sns-link {
    position: absolute;
    top: 23px;
    right: 0;
}
.footer_new .sns-link li {
    float: left;
}
.footer_new .sns-link a.facebook {
    background-position: -220px -30px;
}
.footer_new .sns-link a {
    width: 34px;
    height: 34px;
    margin-right: 8px;
    display: block;
    overflow: hidden;
    background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v8.png) no-repeat;
    text-indent: -99em;
}
.footer_new .sns-link a.blog {
    background-position: -348px -30px;
}
.footer_new .sns-link a.instagram {
    background-position: -390px -30px;
}
.temp-content {
    display: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
a:active, a:hover {
    outline: 0;
}
.find-account-tab li {
    float: left;
    margin-left: -1px;
}
.renewal-header .top-bar>section a {
    color: #333;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#subscribeHeader {
    float: left;
}
body, div, dl, dt, dd, ul, ol, menu, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
.category-btn>a {
    display: block;
    margin-top: 73px;
    color: #fff;
    font-size: 13px;
}
